<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <false/>
    </dict>
    <key>Label</key>
    <string>homebrew.mxcl.consul</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/opt/consul/bin/consul</string>
      <string>agent</string>
      <string>-config-dir</string>
      <string>/Users/gaochundong/.consul/conf</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/gaochundong/.consul</string>
    <key>StandardErrorPath</key>
    <string>/Users/gaochundong/.consul/logs/consul.log</string>
    <key>StandardOutPath</key>
    <string>/Users/gaochundong/.consul/logs/consul.log</string>
  </dict>
</plist>
