<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="ApplicationName" source="spring.application.name"/>
    <property name="LOG_PATH" value="${user.dir}/logs"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${ApplicationName:-}] [%X{X-B3-TraceId:-}] [%X{X-B3-SpanId:-}] [${PID:-}] [%thread] [%level] %logger{36} - %msg%n%ex{full}"/>

    <appender name="console-logging" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <appender name="async-console-logging" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console-logging"/>
    </appender>

    <appender name="file-logging" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>50</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="async-file-logging" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="file-logging"/>
    </appender>

    <appender name="error-level-file-logging" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>50</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="async-error-level-file-logging" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="error-level-file-logging"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="async-console-logging"/>
        <appender-ref ref="async-file-logging"/>
        <appender-ref ref="async-error-level-file-logging"/>
    </root>

</configuration>
